*,  *::before, *::after {
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

body {
    background-color: #001c30;
    color: white;
    display: flex;
    align-items: stretch;
    justify-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    font-size: 1em;
    /* margin-bottom: 1em; */
}

h1 {
    font-weight: 700;
    color: #c6e0ff;
    letter-spacing: 1px;
}

main > section {
    display: flex;
    align-items: center;
    justify-content: center;
}


tr {
    display: table-row;
}

.gameboard {
    display: table;
    table-layout: fixed;
    width: 22%;
    border-collapse: separate;
    border-spacing: .5em .5em;
}

/* .gameboard > tbody {
    display: table;
    width: 100%;
} */

tr > td {
    display: table-cell;
    width: 1em;
    height: 2.2em;
    /* margin: 2em; */
    text-align: center;
    font-size: 1.5em;
    border: 1px solid #0071af;
    border-radius: 4px;
}

.alertbox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
    gap: 1rem;
    height: 10vh;
    margin-bottom: 10vh;
}

.alert{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    margin-top: 1rem;
    border-radius: 4px;
    font-size: 1.2rem;
    border-radius: 4px;
}

.alert.won{
    background-color: #00a05a;
}

.alert.loss{
    background-color: #fd4d00;
}

.play-again {
    background-color: coral;
}

.visible {
    display: none;
}